include deckgl_dash/deckgl_dash.min.js
include deckgl_dash/deckgl_dash.min.js.map
include deckgl_dash/async-*.js
include deckgl_dash/async-*.js.map
include deckgl_dash/*-shared.js
include deckgl_dash/*-shared.js.map
include deckgl_dash/metadata.json
include deckgl_dash/package-info.json
include README.md
include LICENSE
include package.json
